{% extends "base.html" %}
{% block content %}
<h2> Welcome to the Blog!</h2>
<p>Here i provide some information about my interests, such as:
  <br>
  {% for interest in interests %}
    • {{ interest }}<br>
  {%endfor%}
</p>
<div id="overview">
  <h3><a href="{{ url_for('signup') }}">Signup for the Newsletter </a></h3>
</div>
<br>
<h4> Here are some of the blogs </h4>
<br>
{% for post in posts%}
  <h3>Title:{{post.title}}></h3>
  <h4>Content: {{post.content}}</h4>
<br>
{% endfor%}
{% endblock%}
